body {
  font-family: verdana;
}
form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
  gap: 20px;
}

.error {
  background-color: tomato;
  padding: 0.5rem;
  color: cornSilk;
}

.form {
  border: 2px solid black;
  margin-bottom: 50px;

  background-color: bisque;
}

.form button {
  background-color: rgb(130, 149, 149);
  width: 100px;
}

.form input {
  padding: 10px;
}

.reviews {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.businessLinksBox,
.usersBox {
  border: 1px solid black;
  padding: 20px;
}

.businessLinks,
.userLinks {
  text-decoration: none;
  color: rgb(40, 11, 203);
  font-family: fantasy;
}

.business {
  padding: 10px;
}

.imageBusiness {
  display: flex;
  justify-content: center;
}
.images {
  width: 70vw;
}

.businessReviews,
.userReviews {
  background-color: rgb(129, 179, 179);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.businessToReview {
  color: rgb(27, 160, 217);
  background-color: rgb(205, 232, 255);
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

.singleBusinessName,
.username {
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
}

.ratingsBox {
  display: flex;
  justify-content: space-between;
}

.businessRating {
  display: flex;
}

.usernameStyle {
  color: rgb(13, 66, 4);
  text-align: center;
  font-size: 35px;
}

.home {
  /* border: 2px solid blue; */
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(135, 135, 174);
}
